body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

button{
    cursor: pointer;
}

header{
    background-color: #e7e9fc;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav{
    color: #2e2f42;
}

.address{
    color: #434455;
}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: none;
}

.web{
    color: #4d5ae5;
}

.header-studio{
    color: #2E2F42;
}

.footer-studio{
    color: #f4f4fd;
}

.first{
    background-color: #2E2F42;
}

.order{
    background-color: #4d5ae5;
    color: #ffffff;
}

.order:hover{
    background-color: #404bbf;
}






















.fourth{
    background-color: #f4f4fd;
}

.staff{
    background-color: white;
}

footer{
    background-color: #2e2f42;
    color: #e7e9fc;
}